@import "tailwindcss";

:root {
  --background: #e6eeef;
  --foreground: #1f2933;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f1720;
    --foreground: #e5e7eb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
